@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Roboto:wght@300;400;500;900&family=Yellowtail&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    z-index: -1000;
}

.d-flex {
    display: flex;
} 

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.d-flex-r {
    display: flex;
    flex-direction: row-reverse;
}

.d-flex-column-r {
    display: flex;
    flex-direction: column-reverse;
}

.just-b {
    justify-content: space-between;
}

.t-center {
    text-align: center;
}

.i-center {
    align-items: center;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.d-grid {
    display: grid;
}

.g-10 {
    gap: 10px;
}

