// Colors : 

// Main colors : 

$--color-nav: rgba(255, 255, 255, 0.90);
$--color-nav-search: #FAFAFA;

$--color-dark: #274C5B;
$--color-green: #7EB693;
$--color-yellow: #EFD372;
$--color-grey: #D4D4D4;
$--color-white: #F9F8F8;
$--color-lightgrey: #EFF6F1;
$--color-darkgrey: #525C60;

// Background Colors:

$--bgcolor-header: #E3F1E9;
$--bgcolor-white: #fff;

// Fonts : 

$--font-text: 'Open Sans', sans-serif;
$--font-head: 'Roboto', sans-serif;
$--font-tail: 'Yellowtail', cursive;


